extends layout
block main
  .portfolio-page.other-page
    .container
      h1.title portfolio
      .desktop-version
        ul.portfolio-bxslider.image-list.services-list
          each val in [1,2,3,4,5,6]
            - if (val == 1)
              li.active: a(href="#portfolio-#{val}", data-toggle='pill'): img(src="images/testimonials-logo-2.jpg")
            - else
              li: a(href="#portfolio-#{val}", data-toggle='pill'): img(src="images/testimonials-logo-2.jpg")

        .tab-content
          each val in [1,2,3,4,5,6]
            - active = ''
            - if (val ==1 )
              -active ='active'
            .tab-pane(id='portfolio-#{val}' class='#{active}')
              .content-pane
                ul.image-content
                  .carousel.slide(id='slider-portfolio-#{val}' data-ride='carousel' data-interval='false')
                    ol.carousel-indicators
                      li.active(data-target='#slider-portfolio-#{val}', data-slide-to='0')
                      li(data-target='#slider-portfolio-#{val}', data-slide-to='1')
                      li(data-target='#slider-portfolio-#{val}', data-slide-to='2')
                    .carousel-inner
                      .item.active
                        img(src='images/stainless-steel-subservice1.png', alt='...')
                        .carousel-caption
                      .item
                        img(src='images/stainless-steel-subservice1.png', alt='...')
                        .carousel-caption
                      .item
                        img(src='images/stainless-steel-subservice1.png', alt='...')
                        .carousel-caption
                .company-info
                  .company-name
                    h3 parisi's-#{val}
                    span Eastwood
                  .company-detail
                    span.time September 2014
                    h3 scope
                    ul
                      li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    h3 solutions
                    ul
                      li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .mobile-version
        .portfolio-bxslider-mobis
          ul
            li
              each val in [1,2,3,4,5,6]
                a.modal-portfolio-btn(href='javascript:void(0)' data-toggle="modal" data-target="#mobi-portfolio-#{val}"): img(src="images/testimonials-logo-2.jpg")
            li
              each val in [7,8,9]
                a.modal-portfolio-btn(href='javascript:void(0)' data-toggle="modal" data-target="#mobi-portfolio-#{val}"): img(src="images/testimonials-logo-2.jpg")
        #modal-portfolio
          each val in [1,2,3,4,5,6,7,8,9]
            .modal.fade(id='mobi-portfolio-#{val}' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                      span(aria-hidden="true")&times;
                    .content-pane
                      .company-info
                        .company-name
                          h3 parisi's
                          span Eastwood

                        .company-detail
                          span.time September 2014
                          h3.title scope
                          ul
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          h3.title solutions
                          ul
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      ul.image-content
                        #slider-portfolio-1.carousel.slide(data-ride='carousel' data-interval='false')
                          ol.carousel-indicators
                            li.active(data-target='#slider-portfolio-1', data-slide-to='0')
                            li(data-target='#slider-portfolio-1', data-slide-to='1')
                            li(data-target='#slider-portfolio-1', data-slide-to='2')
                          .carousel-inner
                            .item.active
                              img(src='images/stainless-steel-subservice1.png', alt='...')
                              .carousel-caption
                            .item
                              img(src='images/stainless-steel-subservice1.png', alt='...')
                              .carousel-caption
                            .item
                              img(src='images/stainless-steel-subservice1.png', alt='...')
                              .carousel-caption


